<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/bootstrap.min.css")'></link>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/main.css")'></link>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'></link>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src='@routes.Assets.at("js/jquery-1.7.1.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("js/bootstrap.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("js/oaimanager.js")' type="text/javascript"></script>
	<script type="text/javascript">
	  		google.load('visualization', '1', {packages: ['corechart']});

	  		$(document).ready(function () {
	  			google.setOnLoadCallback(function() {
	  				overall = new MintOAIOverallStatistics("overall");
	  				projects = new MintOAIProjects("projects");
	  				
	  				$("#refresh").click(function() {
		  				projects.refresh();
		  				overall = new MintOAIOverallStatistics("overall");
	  				})
	  			});
	  		});
	</script>
</head>

<body class="gradient">
	<div class="wrapper">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Mint OAI Repository</a>
				<button id="refresh" style="float: right" class="btn">Refresh</button>
			</div>
		</div>
		<div class="container">
			<div class="well">
				<div class="row">
					<div id="projects" class="span3"></div>
					<div id="overall" class="span8"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="push">
		<!--//-->
	</div>

	<footer>
		<div class="container-fluid">
			<div class="row">
				<p class="span2">
					Powered By <a href="http://mint.image.ece.ntua.gr/" rel="author">Mint</a>.
				</p>
			</div>
		</div>
	</footer>
</body>

</html>
