@(project: gr.ntua.ivml.mint.oai.model.Project)

<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("js/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/jquery.sortElements.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/date.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("js/oaimanager.js")" type="text/javascript"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    	<script type="text/javascript">
	  		google.load('visualization', '1', {packages: ['corechart']});
      		google.load('visualization', '1', {packages:['table']});
	
	  		$(document).ready(function () {
	  			google.setOnLoadCallback(function() {
	  				overall = new MintOAIProjectStatistics({ projectName: "@project.getId()" }, "overall");
	  				organizations = new MintOAIOrganizations({ projectName: "@project.getId()" }, "organizations");
	  				
	  				$("#refresh").click(function() {
	  					organizations.refresh();
		  				overall = new MintOAIProjectStatistics({ projectName: "@project.getId()" }, "overall");
	  				})
	  			});
	  		});

      		</script>
    </head>
    <body class="gradient">
		<div class="wrapper">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">Mint OAI Repository: @project.getTitle()</a>
					<button id="refresh" style="float: right" class="btn">Refresh</button>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div id="sidebar" class="well sidebar span3">
						<div class="row">
							<div id="project-info" class="span3">
								<legend>Information<a class="oai-action" target="_blank" style="float: right" title="@project.getTitle() OAI url for rdf namespace" href='@project.getOAIUrl("rdf")'></a></legend>
								<dl class="dl-horizontal list">
  									<dt>Title</dt>
									<dd>@project.getTitle()</dd>
  									<dt>Description</dt>
									<dd>@project.getDescription()</dd>
									<dt>Mint URL</dd>
									<dd><a target="_blank" href="@project.getMintURL()">@project.getId()</a></dd>
								</dl>
							</div>
						</div>
						<div class="row">
							<div id="organizations" class="span3"></div>
						</div>
					</div>
					<div id="overall" class="well span8"></div>
				</div>
	    	</div>
    	</div>
    </body>
    <div class="push"><!--//--></div>
	<footer>
	     <div class="container">
	     	<div class="row">
        		<p class="span2">Powered By <a href="http://mint.image.ece.ntua.gr/" rel="author">Mint</a>.</p>
        	</div>
      </div>
	</footer>
</html>
